{% assign this_verb = site.data.ps | where: "verb", page.title | first %}

<table>
  <thead>
    <tr>
      <th>項順</th>
      <th>意味的役割</th>
      <th>前置詞</th>
      <th>格分類</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>x1</td>
      <td>{{ this_verb.x1_role }}</td>
      <td>{{ this_verb.x1_preposition }}</td>
      <td>{{ this_verb.x1_case }}</td>
    </tr>
    <tr>
      <td>x2</td>
      <td>{{ this_verb.x2_role }}</td>
      <td>{{ this_verb.x2_preposition }}</td>
      <td>{{ this_verb.x2_case }}</td>
    </tr>
    <tr>
      <td>x3</td>
      <td>{{ this_verb.x3_role }}</td>
      <td>{{ this_verb.x3_preposition }}</td>
      <td>{{ this_verb.x3_case }}</td>
    </tr>
  </tbody>
</table>
