@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #fdfdfd;
  color: #2c2c54;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #2c2c54;
}

a {
  color: #e67e22;
}
